body
{
    min-height: 100vh;
    font-family: 'GameOverRegular'; 
}

section.wrappers
{
    text-align: center;
}

canvas 
{
    display: absolute;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    background-color: rgb(64, 168, 73);
}

div#modal
{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content 
{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

@media only screen 
{
    #yup
    {
        animation: rave 5s infinite;
    }
      
    @keyframes rave 
    {
        0%   {background-color:rgb(250, 161, 161);}
        25%  {background-color:rgb(251, 255, 189);}
        50%  {background-color:rgb(188, 243, 202);}
        75%  {background-color:rgb(199, 210, 255);}
        100% {background-color:rgb(255, 200, 219);}
    }
}


#rules
{
    border:1px dotted black;
    text-align: center;
    margin-top: 16px;

}

.heading
{
    position: relative;
    top: -175px;
}

.gus
{
   position: relative;
    left: 32%;
}

.dus
{
    position: relative;
    right: 32%;
}

/**/

body
{
    min-height: 100vh;
    font-family: 'GameOverRegular'; 
}

section.wrappers
{
    text-align: center;
}
canvas 
{
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    background-color: rgb(64, 168, 73);
}

h1
{   
    text-align: center;
}

div#modal
{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content 
{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

}

footer{
    background-color: aqua;
    text-align: center;
    margin-bottom: 20px;
}
